/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   fabian.frei@esf-frei.ch
   ========================================================================== */
@font-face {
  font-family: 'Transat Black';
  src: url("font/transat-black/transat-black.eot");
  src: url("font/transat-black/transat-black.eot?#iefix") format("embedded-opentype"), url("font/transat-black/transat-black.woff") format("woff"), url("font/transat-black/transat-black.ttf") format("truetype"), url("font/transat-black/transat-black.svg#ywftsvg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Transat Standard Oblique';
  src: url("font/transat-standard-oblique/transat-standard-oblique.eot");
  src: url("font/transat-standard-oblique/transat-standard-oblique.eot?#iefix") format("embedded-opentype"), url("font/transat-standard-oblique/transat-standard-oblique.woff") format("woff"), url("font/transat-standard-oblique/transat-standard-oblique.ttf") format("truetype"), url("font/transat-standard-oblique/transat-standard-oblique.svg#ywftsvg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Transat Light';
  src: url("font/transat-light/transat-light.eot");
  src: url("font/transat-light/transat-light.eot?#iefix") format("embedded-opentype"), url("font/transat-light/transat-light.woff") format("woff"), url("font/transat-light/transat-light.ttf") format("truetype"), url("font/transat-light/transat-light.svg#ywftsvg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Transat Bold';
  src: url("font/transat-bold/transat-bold.eot");
  src: url("font/transat-bold/transat-bold.eot?#iefix") format("embedded-opentype"), url("font/transat-bold/transat-bold.woff") format("woff"), url("font/transat-bold/transat-bold.ttf") format("truetype"), url("font/transat-bold/transat-bold.svg#ywftsvg") format("svg");
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
  /* sane box model */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.headerParent, #main li .top, #main li .low .lowerHeadline, .overviewRow .entry .hover {
  text-align: center;
}
.headerParent:before, #main li .top:before, #main li .low .lowerHeadline:before, .overviewRow .entry .hover:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

.headerLine, #main li .top hgroup, #main li .low .lowerHeadline hgroup, .overviewRow .entry .hover hgroup {
  text-align: center;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}

.headerLineH1, #main li .top h1, #main li .low .lowerHeadline h1, .overviewRow .entry .hover h1 {
  font-family: 'Transat Black', arial;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.2em;
}

.headerLineH2, #main li .top h2, #main li .low .lowerHeadline h2, .overviewRow .entry .hover h2 {
  font-family: 'Transat Standard Oblique', arial;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 0.5em;
  letter-spacing: 0.2em;
  margin-top: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

#main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#navAndLogo {
  width: 100%;
  position: fixed;
  z-index: 10;
  font-family: 'Transat Bold', arial;
  font-weight: normal;
  font-style: normal;
}
#navAndLogo .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 10em 0 0em;
}
#navAndLogo nav {
  text-transform: uppercase;
  float: left;
  position: relative;
}
#navAndLogo nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#navAndLogo nav ul li {
  display: inline-block;
}
#navAndLogo nav ul li a {
  color: black;
  text-decoration: none;
}
#navAndLogo nav #indicator {
  width: 4.8125em;
  height: 0.5em;
  position: absolute;
  bottom: -0.5em;
  left: 0;
  background-color: #000;
}
#navAndLogo #logo {
  float: right;
}
#navAndLogo #logo p {
  margin: 0;
  padding: 0;
}
#navAndLogo #logo p span {
  font-size: 2em;
  text-transform: uppercase;
}

#mainWrapper {
  position: relative;
  overflow: hidden;
}

#main {
  list-style-type: none;
  width: 300%;
}
#main li {
  width: 33.33333%;
  min-height: 100%;
  float: left;
}
#main li .top {
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}
#main li .top hgroup {
  text-shadow: 0 0 20px #fff;
  color: #fff;
}
#main li .top h1 {
  font-size: 3.125em;
}
#main li .top h2 {
  font-size: 1.875em;
}
#main li#eins .top {
  background-image: url("../img/_MG_1558.jpg");
}
#main li#zwei .top {
  background-image: url("../img/IMG_0058_small.JPG");
}
#main li .low {
  padding: 5% 0 0 0;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Transat Light', arial;
  font-weight: normal;
  font-style: normal;
}
#main li .low .lowerHeadline {
  width: 100%;
}
#main li .low .lowerHeadline hgroup {
  color: #000;
  width: 40%;
  float: left;
}
#main li .low .lowerHeadline h1 {
  height: 50%;
}
#main li .low .lowerHeadline h2 {
  padding-top: 0;
}
#main li .low p {
  margin-top: 0;
  margin-bottom: 2em;
  float: right;
  width: 55%;
  font-size: 2em;
}
#main li .low img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

#verticalNav {
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0;
}
#verticalNav ul {
  font-size: 3em;
  color: #fff;
  margin: 0 auto;
  padding: 0;
}
#verticalNav ul li {
  display: inline-block;
  cursor: pointer;
}

#overview {
  width: 100%;
  padding-top: 120px;
}
#overview #overviewInnerWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.overviewRow {
  margin-bottom: 2%;
}
.overviewRow .entry {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  margin-left: 1%;
  color: #fff;
}
.overviewRow .entry.first {
  margin-left: 0;
}
.overviewRow .entry:hover .hover {
  display: block;
}
.overviewRow .entry.test1 {
  width: 59%;
}
.overviewRow .entry.test2 {
  width: 19%;
}
.overviewRow .entry.test3 {
  width: 100%;
}
.overviewRow .entry.test4 {
  width: 39%;
}
.overviewRow .entry.test5 {
  width: 59%;
}
.overviewRow .entry img {
  max-width: 100%;
}
.overviewRow .entry .hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #72898F;
  background-color: rgba(68, 82, 85, 0.5);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
