RewriteEngine On

# ----------------------------------------------------------------------
#  Exception to the general rule 
# ----------------------------------------------------------------------
 
# Declare path and files where don't apply general rules
 
# js/./../* -  not apply general rule redirect of all folders and files to path "/js"
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_FILENAME} !-f
RewriteRule js/(.*)$ js/$1 [L,QSA]
 
# img/./../* -  not apply general rule redirect of all folders and files to path "/img"
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_FILENAME} !-f
RewriteRule img/(.*)$ img/$1 [L,QSA]
 
# css/./../* -  not apply general rule redirect of all folders and files to path "/css"
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_FILENAME} !-f
RewriteRule css/(.*)$ css/$1 [L,QSA]

# ----------------------------------------------------------------------
#  General Rule
# ----------------------------------------------------------------------
 
# Redirect all files and paths to index.html
RewriteCond %{REQUEST_URI} !-f
RewriteCond %{REQUEST_URI} !-d
RewriteRule (.*) index.html [L]