 <div class="wrapper clearfix">
    <ul>
        <li>
            <h3><span>Weissheimer</span> Grafik Design</h3>
            <p>Breischerstrasse 93</p>
            <p>4057 Basel</p>
        </li>
        <li>
            <p><a href="mailto:mail@weissheimer.ch">mail@weissheimer.ch</a></p>
            <p>+41 (0)77 423 14 51</p>
            <p><a href="https://www.facebook.com/WEISSHEIMERBASEL" title="facebook">Facebook</a></p>
        </li>
    </ul>
    <ul>
        <li>
            <h3><span>Druckbus</span></h3>
            <p>Breischerstrasse 93</p>
            <p>4057 Basel</p>
        </li>
        <li>
            <p><a href="mailto:mail@druckbus.ch">mail@druckbus.ch</a></p>
            <p>+41 (0)77 423 14 51</p>
            <p><a href="https://www.facebook.com/DRUCKBUS" title="facebook">Facebook</a></p>
        </li>
    </ul>
</div>