<div class="overviewRow order50-25-25">{{> entry-1}}{{> entry-2}}{{> entry-3}}
<!-- <div class="entry entry-1">
        <img src="{{entry-1.overviewImage}}" alt="{{entry-1.title}}">
        <div class="hover">
            <hgroup>
                <h2>{{entry-1.category}}</h2>
                <h1>{{entry-1.title}}</h1>
            </hgroup>
        </div>
    </div><div class="entry entry-2">
        <img src="{{entry-2.overviewImage}}" alt="{{entry-2.title}}">
        <div class="hover">
            <hgroup>
                <h2>{{entry-2.category}}</h2>
                <h1>{{entry-2.title}}</h1>
            </hgroup>
        </div>
    </div><div class="entry entry-3">
        <img src="{{entry-3.overviewImage}}" alt="{{entry-2.title}}">
        <div class="hover">
            <hgroup>
                <h2>{{entry-3.category}}</h2>
                <h1>{{entry-3.title}}</h1>
            </hgroup>
        </div>
    </div>-->
</div>