<li id="{{cssId}}" class="{{#classes}} {{.}}{{/classes}}">
    <div class="top">
        <hgroup>
            <h2>{{subtitle}}</h2>
            <h1>{{title}}</h1>
        </hgroup>
    </div>
    <div class="low">
        <div class="lowerHeadline clearfix">
            <hgroup>
                <h1>{{title}}</h1>
                <h2>{{category}}</h2>
            </hgroup>
            <p>{{text}}</p>
        </div>

        {{#images}}
          <img {{#class}}class="{{class}}" {{/class}}src="{{normal}}" width="{{width}}" height="{{height}}" data-mobile="{{mobile}}" data-highres="{{highres}}" data-landscape="{{landscape}}">
        {{/images}}
    </div>
</li>