<li id="{{cssId}}" class="{{#classes}} {{.}}{{/classes}}">
    <div class="top big">
        <hgroup>
            <h2>{{subtitle}}</h2>
            <h1>{{title}}</h1>
        </hgroup>
    </div>
    <div class="low small">
        <div class="scrollHeader">
            <p>&uarr;</p>
            <p>scroll up</p>
        </div>
        <div class="lowerHeadline clearfix">
            <hgroup>
                <h1>{{title}}</h1>
                <h2>{{subtitle}}</h2>
            </hgroup>
            <p>{{text}}</p>
        </div>

        {{#images}}
          <img {{#class}}class="{{class}}" {{/class}}src="{{normal.path}}" width="{{normal.width}}" height="{{normal.height}}" data-mobile="{{mobile}}" data-highres="{{highres}}" data-landscape="{{landscape}}">
        {{/images}}
    </div>
</li>