<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>WEISSHEIMER Grafik Design</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <div id="navAndLogo">
            <div class="wrapper clearfix">
            <div id="logo">
                <p>
                    <span>weissheimer</span> Grafik Design
                </p>
            </div>
                <nav>
                    <ul>
                        {{> nav}}
                    </ul>
                    <div id="indicator">
                    </div>
                </nav>
            </div>
        </div>
        <div id="mainWrapper">
            <ul id="main" class="clearfix">
                {{{promo}}}{{#overview}}<li id="overview">
                    <div id="overviewInnerWrapper">
                        {{{overview}}}
                    </div>
                </li>
                {{/overview}}
            </ul>
            <div id="verticalNav">
                <ul>
                </ul>
                <div id="scrollIndicator">
                    <p>&darr;</p>
                    <p>scroll down</p>
                </div>
            </div>

            <footer>
                <div class="wrapper clearfix">
                    <ul>
                        <li>
                            <h3><span>Weissheimer</span> Grafik Design</h3>
                            <p>Breischerstrasse 93</p>
                            <p>4057 Basel</p>
                        </li>
                        <li>
                            <p><a href="mailto:mail@weissheimer.ch">mail@weissheimer.ch</a></p>
                            <p>+41 (0)77 423 14 51</p>
                            <p><a href="facebook.com" title="facebook">Facebook</a></p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h3><span>Druckbus</span></h3>
                            <p>Breischerstrasse 93</p>
                            <p>4057 Basel</p>
                        </li>
                        <li>
                            <p><a href="mailto:mail@druckbus.ch">mail@druckbus.ch</a></p>
                            <p>+41 (0)77 423 14 51</p>
                            <p><a href="facebook.com" title="facebook">Facebook</a></p>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>
